// Color Variables
$primary-color: grey;
$secondary-color: white;
$text-color: black;
$text-color-light: white;
$text-color-dark: grey;
$body-color:white;
$border-color: grey;
$black: #000;
$white: #fff;
$light: #f8f9fe;
$gray: #f8f8f8;

//My colors
$primary-bg-color: grey;

// Font Variables
$primary-font: 'Poppins', sans-serif;
$secondary-font: 'futura-bold';
$icon-font: 'themify';